.head {

    
    width: 200px;
    height: 30px;
    
}

#cat{

    
    background-color: black;
    border-radius: 5px;
    padding: 10px;
}

td{

    text-align: center;
    padding: 10px;
}


td:hover{

    background-color: rgba(255, 255, 255, 0.36);
}

